<html>
    <head>
        <title>Dane Santos</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar">
            <nav>
                <ul>
                    <li class="nav-li"><a style="text-decoration: none; color: white" href="#projects">Projects</a></li>
                    <li class="nav-li"><a style="text-decoration: none; color: white" href="#start">Home</a></li>
                    <li class="nav-li"><a style="text-decoration: none; color: white" href="#">Resume</a></li>
                </ul>
            </nav>
        </div>

        <!-- Content -->
        <div class="content">

            <!-- Card #1 -->
            <header class="element">
                <p>
                <h1 class="greeting" id="start">Hi, my name is Dane!</h1>
                </p>
                <hr/>
                <br/>
                <img class="profile-pic" width="200px" height="200px" src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="profile-pic"/>
                <p>
                I am currently a second-year student at the University of Massachusetts
                - Amherst, currently pursuing a B.S in Computer Science.
                </p>
                <p>    
                My plans for the future is to eventually become a full-stack web developer.
                I am interested in learning new technologies and skills, as well as challenging
                myself when it comes to problem-solving and critical thinking.
                </p>
                <p>
                Curiosity driven. Always on the lookout for new opportunites for  projects, programs, 
                and positions, to further pursue my passion for Computer Science.
                </p>
            </header>

            <!-- Card #2 -->
            <section class="element projects">
                <h1 class="projects-intro" id="projects">Projects</h1>
                <hr/>
                <h3>Speech Recognition App</h3>
                <p style="margin-top: -1em"> 
                Constructed a speech recognition application built in Python that converts speech to text and vice-versa for daily-use by building a response from user input.
                </p>
                <div id="project-desc">
                <ul>
                <li>Incorporated a phrase detection algorithm and geocoder library to display a specific output for the user.</li>
                <li>Implemented Google Calendar API for date and event retrieval and OpenWeatherMap API for current weather
                updates.</li>
                <li>Learned about user authentication and security from implementation of API keys as well as data retrieval from
                a JSON response.</li>
                </ul>
                </div>
                <br>
                <h3>Sharendar</h3>
                <p style="margin-top: -1em"> 
                Collaborating with three others on a calendar web application, currently in development using Django Framework.
                </p>
                <div id="project-desc">
                <ul>
                <li>Optimized login functionality by strengthening user authentication in the back-end.</li>
                <li>Implemented user based calendar events in the back end and front end, improved front end visibility using
                Bootstrap framework.
                updates.</li>
                <li>Learned about back-end web development with topics including data security, login and logout functionality,
                permissions, user registration, and CRUD Data.</li>
                </ul>
                </div>
            </section>
            
            <!-- Card #3 -->
            <section class="element skills">
                <h1 class="skills-intro">Skills</h1>
                <hr>
                <h3>Languages</h3>
                <p style="margin-top: -1em">Java, C, Python, Javascript, HTML, CSS</p>
                <h3>Technologies</h3>
                <p style="margin-top: -1em">Git, Unix, Linux, Django, React, JSX, Bootstrap</p>
            </section>

            <!-- Card #4 -->
            <section class="element contact-me">
                <h1 class="skills-intro">Contact Me</h1>
                <hr>
                <br>
                <div class="profile-logos">
                <ul class="logos-ul">
                <li class="logo-li"><a href="https://www.linkedin.com/in/dfsantos-dev/"><img height="100px"src="https://camo.githubusercontent.com/45e6bebceba49c2cf76b1b3770b1adbe24e6c454/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f6c696e6b6564696e2e737667" alt="linkedin-logo"></a></li>
                <li class="logo-li"><a href="https://github.com/dfsantos-source"><img height="100px"src="https://camo.githubusercontent.com/d0518022b7a02d405ad5112a0c8aa455cbfe952e/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f6769746875622e737667" alt="github-logo"</img></a></li>
                <li class="logo-li"><a href="mailto:dfsantos.dev@gmail.com"><img height="100px"src="https://camo.githubusercontent.com/be2da4b6935fde94c4062114d0e57b2456f700f8/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f656d61696c2e737667" alt="email-logo"></img></a></li>
                </ul>
                <p>dfsantos.dev@gmail.com</p>
                </div>
            </section>
            
        </div>
    </body>
</html>