@media (max-width:620px) {
  /* For mobile phones: */
  html {
    font-size: 12px;
  }
  /*
    margin-left: -25%;
  */

  .content {
    margin-left: 0%;
    margin-right: 0%;
    max-width: 150%;
  }

  #projects {
    max-height: 25%;
  }
}

html {
  scroll-behavior: smooth; 
  font-family: Raleway;  
  margin: 0;
  padding: 0;
  zoom: 0.7;
}

.App {
  scroll-behavior: smooth;
  font-family: Raleway;
}

body {
  font-size: 1.6em;
}

.navbar {
  background-color: #25343D;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: white;
  padding: 0.3em;
}

.nav-li {
  display: inline-block;
  margin: 0 2em 0 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2em;
}

.section {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em;
  color: white;
}


.content {

  
}

.element {  
  
}

.profile-pic {
  height: 13em;
  width: 13em;
  border-radius: 50%;
  border-width: 0.2em;
  border-color: white;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.greeting {
  text-align: center;
}

.projects-intro {
  text-align: center;
  font-size: 2em;
}

.skills-intro {
  text-align: center;
  font-size: 2em;
}


#project-desc {
  text-align: left;
}

.logos-ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.logo-li {
  margin: 0 1em 0 1em;
}

.name-big {
  font-size: 5em;
  color: rgb(255, 198, 11);
}

.projects-intro {
  text-align: left;
}

.skills-intro {
  text-align: left;
}

.hero {
  background-image: url("hero-background-pic2.jpg");
  background-repeat:no-repeat;
  
  background-position:center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 20em;
  padding-bottom: 20em;
}

.skills-intro {
  color: rgb(255, 166, 0);
}

.projects-intro {
  color: rgb(255, 166, 0);
}

.contactme-intro {
  color: rgb(255, 166, 0);
}

.bio {
  background-color: rgb(255, 255, 255);
  color: black;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 4em;
  padding-bottom: 5em;
}

.projects {
  background-color: rgb(250 , 250, 250 );
  color: black;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 20%;
  padding-right: 20%;
}

.skills {
  background-color:  rgb(255, 255, 255);
  color:black;
  padding-left: 20%;
  padding-right: 20%;  
  padding-top: 3em;
  padding-bottom: 4em;
}

.contact-me {
  background-color: rgb(250 , 250, 250 );
  color: black;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2em;
  padding-bottom: 2em;
}



